@import "tailwindcss";


@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased;
  }
}

@layer components {
  .card-hover {
    @apply transition-all duration-300 hover:-translate-y-1 hover:shadow-xl;
  }
}