# --- DEPENDENCIES ---
# Ignore tous les node_modules partout (racine et server/)
node_modules/
.pnp
.pnp.js

# --- NEXT.JS ---
/.next/
/out/

# --- PRODUCTION ---
/build
/dist

# --- MISC ---
.DS_Store
*.pem

# --- LOGS ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- ENVIRONNEMENT & SÉCURITÉ (Très important) ---
# Ignore tous les fichiers commençant par .env partout
.env*
!.env.example

# --- VERCEL ---
.vercel

# --- TYPESCRIPT ---
*.tsbuildinfo
next-env.d.ts

# --- DATABASE LOCALE (Backend) ---
# On ignore les données JSON pour ne pas écraser la db en production
server/data/*.json
server/dist/